/algebraic_geometry.aux
/algebraic_geometry.log
/algebraic_geometry.out
/algebraic_geometry.synctex.gz
/algebraic_geometry.toc
/out
/algebraic_geometry.idx
/algebraic_geometry.ilg
/algebraic_geometry.ind